web/application.wadl


<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources base="/">
		<!-- The data fetcher method -->
		<resource path="query">
			<method name="GET">
				<request>
					<!-- Time parameters -->
					<param name="starttime" style="query" type="xsd:dateTime"/>
					<param name="endtime"   style="query" type="xsd:dateTime"/>
					<param name="nsegments" style="query" type="xsd:int" default="1"/>
					<!-- General selecting parameters -->
					<param name="network"   style="query" type="xsd:string"/>
					<param name="station"   style="query" type="xsd:string"/>
					<param name="location"  style="query" type="xsd:string"/>
					<param name="channel"   style="query" type="xsd:string"/>
					<!-- Quantity parameter -->
					<param name="quantity"  style="query" type="xsd:string" default="mean">
						<option value="mean"/>
						<option value="mode"/>
						<option value="median"/>
						<option value="min"/>
						<option value="max"/>
						<option value="std"/>
					</param>
					<!-- Filtering parameters (To be implemented) -->
					<param name="minhour"  style="query" type="xsd:int"/>
					<param name="maxhour"  style="query" type="xsd:int"/>
					<param name="dow"      style="query" type="xsd:string"/>
					<!-- Others parameters -->
					<param name="includemodels" style="query" type="xsd:boolean" default="false"/>
				</request>
				<response status="200">
					<representation mediaType="application/json"/>
				</response>
				<response status="204 400 401 403 404 413 414 500 503">
					<representation mediaType="text/plain"/>
				</response>
			</method>
		</resource>
		<!-- This support file -->
		<resource path="application.wadl">
			<method name="GET">
				<response>
					<representation mediaType="application/xml"/>
				</response>
			</method>
		</resource>
	</resources>
</application>
